.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

.idea/*
gradle/*
app/.gitignore
app/app.iml
app/build.gradle
app/proguard-rules.pro
ApplicationAndroImie.iml
build.gradle
gradle.properties
gradlew
gradlew.bat
settings.gradle
